
#container_commands:
#  01migrate:
#    command: "docker exec `docker ps -a --no-trunc -q | head -n 1` /var/app/bin/python /var/app/manage.py migrate --noinput  &>> /tmp/deploy.log"
#    leader_only: true

option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings.production
#  - option_name: RDS_DB_NAME
#    value: ebdb
#  - option_name: RDS_USERNAME
#    value: ebroot
#  - option_name: RDS_PASSWORD
#    value: eb.Pass.123
#  - option_name: RDS_HOSTNAME
#    value: aa2locrhlwceh5.cyugexp1diwq.us-east-1.rds.amazonaws.com
#  - option_name: RDS_PORT
#    value: 5232
