option_settings:
  # Elastic Load Balancer Options
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPPort
    value: 80
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerPortProtocol
    value: HTTP
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /about
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 1