option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: my-ssh-keys
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: arn:aws:iam::048364203376:instance-profile/ampervueServer
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: ampervueSecurityGroup