option_settings:
  # Database Config Options
  - namespace: aws:rds:dbinstance
    option_name: DBDeletionPolicy
    value: Delete
  - namespace: aws:rds:dbinstance
    option_name: DBEngine
    value: postgres
  - namespace: aws:rds:dbinstance
    option_name: DBEngineVersion
    value: 9.3
  - namespace: aws:rds:dbinstance
    option_name: DBUser
    value: ebroot
  - namespace: aws:rds:dbinstance
    option_name: DBPassword
    value: eb.Pass.123